/*------------------------------------*\
	_DRILLS.SCSS
\*------------------------------------*/

.drill-list {
	@extend .multi-list;

	> li {
		padding: .5em;
		width: 100%;
	}

	@media (min-width: 680px) and (max-width: 1000px) {
		> li {
			width: 50%;
		}
	}

	@media (min-width: 1001px) {
		> li {
			width: 33.333%;
		}
	}
}

.drill-content {
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100px;
	min-width:210px;

	a {
		color: #fff;

		&:hover {
			color: $yellow;
		}
	}

	img {

	}

	h3 {


		span {
			text-transform: uppercase;
		}
	}
}