/*------------------------------------*\
	_FILTER-NAV.SCSS
\*------------------------------------*/

.filter-nav, .latest-nav {
	list-style: none;
	margin-left: 0;

	li {
		a {
			font-size: .8em;

			&.active {
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}